<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace = "com.iamcaster.menu.repository.NoticeRepository">
 
 	<select id="selectAllNotice" resultType="com.iamcaster.menu.domain.Notice">
 		SELECT
 			`noticeID`
			,`subject`
			,`content`
			,`createdAt`
			,`updatedAt`
		FROM `notice`
		ORDER BY `noticeID` DESC
 	</select>
 
 
 </mapper>