<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.iamcaster.regional.kma.obvregion.repository.OBVRegionRepository">
 
	<select id="countByFCT_ID">
		SELECT COUNT(1)
		FROM `OBVRegion`
		WHERE `FCT_ID`=#{FCT_ID}
	</select>
	
	<insert id="insertOBVRegion" parameterType="com.iamcaster.regional.kma.obvregion.domain.OBVRegion">
		INSERT INTO `OBVRegion`
			(
			`STN_ID`
			,`LON`
			,`LAT`
			,`STN_KO`
			,`FCT_ID`
			,`LAW_ID`
			)
		VALUE
			(
			#{STN_ID}
			,#{LON}
			,#{LAT}
			,#{STN_KO}
			,#{FCT_ID}
			,#{LAW_ID}
			)
	</insert>
	
	<select id="selectAll" parameterType="com.iamcaster.regional.kma.obvregion.domain.OBVRegion">
		SELECT
			`OBVRegionID`
			,`STN_ID`
			,`LON`
			,`LAT`
			,`STN_KO`
			,`FCT_ID`
			,`LAW_ID`
			,`createdAt`
			,`updatedAt`
		FROM `OBVRegion`;
	</select>
 
 </mapper>
