<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.iamcaster.user.repository.UserInfoRepository">
 
 	<update id="updateOptionalTermsAgreed" parameterType="com.iamcaster.user.domain.UserInfo">
 		UPDATE `userInfo`
 		SET `optionalTerms` = NOW(), `updatedAt` = NOW()
 		WHERE `UID` = #{UID}
 	</update>
 	
 	<update id="updateOptionalTermsDisagreed" parameterType="com.iamcaster.user.domain.UserInfo">
 		UPDATE `userInfo`
 		SET `optionalTerms` = null, `updatedAt` = NOW()
 		WHERE `UID` = #{UID}
 	</update>
 
 
 	<select id="getUserInfoByEmail" parameterType="String" resultType="com.iamcaster.user.domain.UserInfo">
 	
 		SELECT
 			UID
			,email
			,password
			,salt
			,NickID
			,RGID
			,createdAt
			,updatedAt
 		FROM `userInfo`
 		WHERE `email` = #{email}
 	
 	</select>
 	
 	<select id="getUserInfoByUID" parameterType="int" resultType="com.iamcaster.user.domain.UserInfo">
 		SELECT
 			UID
			,email
			,password
			,salt
			,NickID
			,RGID
			,createdAt
			,updatedAt
			,optionalTerms
 		FROM `userInfo`
 		WHERE `UID` = #{UID}
 	</select>
 	
 	<select id="getOneUserInfoByUID" parameterType="int" resultType="com.iamcaster.user.domain.UserInfo">
 		SELECT
 			UID
			,email
			,password
			,salt
			,NickID
			,RGID
			,createdAt
			,updatedAt
			,optionalTerms
			,ifKakao
 		FROM `userInfo`
 		WHERE `UID` = #{UID}
 	</select>
 
 	<insert id="insertUserInfo" parameterType="com.iamcaster.user.domain.UserInfo" useGeneratedKeys="true" keyProperty="UID">
 	
 		INSERT INTO `userInfo`
 			(
			email
			,ifKakao
			,password
			,salt
			,NickID
			,RGID
			<choose>
			<when test="ifOptionalTermsAgreed == true">
			,optionalTerms
			</when>
			</choose>
			)
		VALUE
			(
			#{email}
			,#{ifKakao}
			,#{password}
			,#{salt}
			,#{NickID}
			,#{RGID}
			<choose>
			<when test="ifOptionalTermsAgreed == true">
			,NOW()
			</when>
			</choose>
			)
 	
 	</insert>
 	
 	<update id="updatePW" parameterType="com.iamcaster.user.domain.UserInfo">
 		UPDATE `userInfo`
 		SET `salt` = #{salt}, `password` = #{password}, `updatedAt` = NOW()
 		WHERE UID = #{UID}
 	</update>
 	
 	<update id="updateNickID" parameterType="com.iamcaster.user.domain.UserInfo">
 		UPDATE `userInfo`
 		SET `NickID` = #{NickID}, `updatedAt` = NOW()
 		WHERE UID = #{UID}
 	</update>
 	
 	<update id="updateRGID" parameterType="com.iamcaster.user.domain.UserInfo">
 		UPDATE `userInfo`
 		SET `RGID` = #{RGID}, `updatedAt` = NOW()
 		WHERE UID = #{UID}
 	</update>
 	
 	<update id="withdrawalUpdate" parameterType="com.iamcaster.user.domain.UserInfo">
 		UPDATE `userInfo`
 		SET `email` = #{email}, `updatedAt` = NOW()
 		WHERE UID = #{UID}
 	</update>
 	
 	<update id="updateKakaoInfo" parameterType="com.iamcaster.user.domain.UserInfo">
 		UPDATE `userinfo`
 		SET `ifKakao` = #{ifKakao}, `updatedAt` = NOW()
 		WHERE UID = #{UID}
 	</update>
 
 </mapper>