<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.iamcaster.predict.repository.PredictRepository">
 
 	<select id="selectPredictByUID" resultType="com.iamcaster.predict.domain.UserPredict">
 		SELECT
 			`UPID`
			,`predictOrder`
			,`UID`
			,`predictRGID`
			,`weatherType`
			,`predictedNum1`
			,`predictedNum2`
			,`realNum1`
			,`realNum2`
			,`result`
			,`scored`
			,`createdAt`
			,`updatedAt`
		FROM `userpredict`
		WHERE `UID` = #{UID} AND DATE(`createdAt`) = CURDATE()
		ORDER BY `predictOrder` ASC;
 	</select>
 
 	<insert id="insertPredict" parameterType="com.iamcaster.predict.domain.UserPredict">
 	INSERT INTO `userpredict`
 		(
 		`predictOrder`
 		,`UID`
 		,`predictRGID`
 		,`weatherType`
 		,`predictedNum1`
 		,`predictedNum2`
 		)
	VALUE
		(
	    #{predictOrder}
	    ,#{UID}
	    ,#{predictRGID}
	    ,#{weatherType}
	    ,#{predictedNum1}
	    ,#{predictedNum2}
    	)
 	</insert>
 
 	<update id="updatePredict" parameterType="com.iamcaster.predict.domain.UserPredict">
 	
 	UPDATE `userpredict`
 	SET
 	 `predictedNum1`= #{predictedNum1}
 	 ,`predictedNum2`= #{predictedNum2}
 	 ,`updatedAt` = now()
 	WHERE
 	 `UPID` = #{UPID}
 	
 	</update>
 	
 	 <select id="selectToBeScored" resultType="com.iamcaster.predict.domain.UserPredict">
 		SELECT
 			`UPID`
			,`predictOrder`
			,`UID`
			,`predictRGID`
			,`weatherType`
			,`predictedNum1`
			,`predictedNum2`
			,`realNum1`
			,`realNum2`
			,`result`
			,`scored`
			,`createdAt`
			,`updatedAt`
		FROM `userpredict`
		WHERE
			`scored` = 1 AND DATE(`createdAt`) <![CDATA[<=]]> DATE_SUB(CURDATE(), INTERVAL 2 DAY)
 	</select>
 	
 	 <select id="getUPIDbyCreatedDateAndRGID" parameterType="map" resultType="com.iamcaster.predict.domain.UserPredict">
 		SELECT
 			`UPID`
			,`predictOrder`
			,`UID`
			,`predictRGID`
			,`weatherType`
			,`predictedNum1`
			,`predictedNum2`
			,`realNum1`
			,`realNum2`
			,`result`
			,`scored`
			,`createdAt`
			,`updatedAt`
		FROM `userpredict`
		WHERE
			DATE(`createdAt`) = #{createdDate} AND `predictRGID` = #{predictRGID}
 	</select>

 	<update id="updateAnswerByUPID" parameterType="com.iamcaster.predict.domain.UserPredict">
 		UPDATE `userpredict`
 			SET
 			`realNum1` = #{realNum1}
			,`realNum2` = #{realNum2}
			,`scored` = 0
			,`result` = #{result}
			,`updatedAt` = now()
 			WHERE 
 			 	`UPID` = #{UPID}
 	</update>
 	
	<select id="selectAllPredictByUID" parameterType="com.iamcaster.predict.domain.UserPredict" resultType="com.iamcaster.predict.domain.UserPredict">
 		SELECT
 			`UPID`
			,`predictOrder`
			,`UID`
			,`predictRGID`
			,`weatherType`
			,`predictedNum1`
			,`predictedNum2`
			,`realNum1`
			,`realNum2`
			,`result`
			,`scored`
			,`createdAt`
			,`updatedAt`
		FROM `userpredict`
		WHERE
			`UID` = #{UID}
		ORDER BY `createdAt` DESC
 	</select>
 	
	<select id="predictResultGroupByUID" parameterType="Integer" resultType="com.iamcaster.predict.dto.PredictRank">
	    SELECT
			`UID`,sum(`result`="정확") AS `correct`,sum(`result`="오보") AS `wrong`
		FROM `userpredict`
		WHERE
			`scored` = 0
		<choose>
			<when test="predictRGID!=null">
            AND
            `predictRGID` = #{predictRGID}
			</when>
		</choose>
		GROUP BY UID;
	</select>
 	
 </mapper>