spring:
  jpa:
    show-sql: true
    hibernate:
      naming:
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
    static-path-pattern: /static/**
      
  datasource:
    url: jdbc:mysql://localhost:3306/iamcaster
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: gkftndlTek1@
    
  mail:
    host: smtp.naver.com
    port: 587
    username: joeldev
    password: gkftndlTek1@
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true
            required: true
            
  thymeleaf:
    prefix: classpath:/static/thymeleaf-templates/
    suffix: .html
    mode: HTML5
    cache: false
    view-names: thymeleaf/*
    
server:
  servlet:
    session:
      timeout: 10000000