@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

#wrap {
	width:auto;
	height: auto;
	margin:auto;
	font-family: SUITE Variable;
	background: #ffffff;
	font-size: 24px;
	overflow:auto;
}

.f-title{
	font-size: 30px;
	letter-spacing: 6px;
}

.f-content{
	font-size: 15px;
	letter-spacing: 3px;
}
.f-small{
	font-size: 12px;
}

footer{
	color: #666666;
}

@media(min-width:600px){
	#wrap {
		width:60%;
		height: auto;
		margin:auto;
		font-family: SUITE Variable;
		background: #ffffff;
		font-size: 24px;
	}
	
	.f-title{
	font-size: 30px;
	letter-spacing: 6px;
	}
	
	.f-content{
		font-size: 15px;
		letter-spacing: 3px;
	}
	
	footer{
	color: #666666;
}
}

